@import 'tailwindcss';
/* ToDo: (20250731 - Julian) Dark Mode */
/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  /* Screens */
  --breakpoint-*: initial;
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-desktop_HD: 1440px;

  /* Spacing */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 56px;
  --spacing-7: 72px;
  --spacing-8: 80px;
  --spacing-9: 96px;
  --spacing-10: 120px;

  /* Radius */
  --radius-1: 5px;
  --radius-2: 10px;
  --radius-3: 15px;
  --radius-4: 20px;
  --radius-5: 500px;

  /* Fonts Size */
  --text-h1: 56px;
  --text-h2: 48px;
  --text-h3: 40px;
  --text-h4: 32px;
  --text-h5: 24px;
  --text-h6: 20px;

  /* Background Image */

  /* Primitives - Light */
  /* Colors */
  --color-brand-brand-purple-500: #b531fdff;
  --color-brand-brand-purple-300: #d07afeff;
  --color-brand-brand-blud-500: #00b4feff;
  --color-brand-brand-blud-300: #6cd4ffff;
  --color-state-safe: #3dd08cff;
  --color-state-warn: #ffa600ff;
  --color-state-danger: #ff5959ff;
  --color-state-link: #8016bfff;
  --color-state-link--hover: #d07afeff;
  --color-grey-grey-900: #2f2f3eff;
  --color-grey-grey-600: #5d5d7bff;
  --color-grey-grey-500: #8181a0ff;
  --color-grey-grey-300: #aaaabfff;
  --color-grey-grey-100: #dbdbebff;
  --color-grey-grey-50: #f5f5f7ff;
  --color-grey-grey-000: #ffffffff;
}

.cta-bg {
  background-position: top center;
  background-image: url('/elements/cta_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* Primitives - Dark */
    --Color-Brand-Brand-Purple-500: #b531fdff;
    --Color-Brand-Brand-Purple-300: #d07afeff;
    --Color-Brand-Brand-Blud-500: #00b4feff;
    --Color-Brand-Brand-Blud-300: #00b4feff;
    --Color-State-Safe: #3dd08cff;
    --Color-State-Warn: #ffa600ff;
    --Color-State-Danger: #ff5959ff;
    --Color-State-Link: #ffffffff;
    --Color-State-Link--hover: #ffffffff;
    --Color-Grey-Grey-900: #2f2f3eff;
    --Color-Grey-Grey-600: #5d5d7bff;
    --Color-Grey-Grey-500: #8181a0ff;
    --Color-Grey-Grey-300: #aaaabfff;
    --Color-Grey-Grey-100: #e8e8edff;
    --Color-Grey-Grey-50: #f5f5f7ff;
    --Color-Grey-Grey-000: #ffffffff;
    --Spacing-1: 8px;
    --Spacing-2: 16px;
    --Spacing-3: 24px;
    --Spacing-4: 32px;
    --Spacing-5: 40px;
    --Spacing-6: 56px;
    --Spacing-7: 72px;
    --Spacing-8: 80px;
    --Spacing-9: 96px;
    --Spacing-10: 120px;
    --Radius-1: 5px;
    --Radius-2: 10px;
    --Radius-3: 15px;
    --Radius-4: 20px;
    --Radius-5: 500px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
