@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Info: (20250801 - Julian) Screens */
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-desktop_HD: 1440px;

  /* Info: (20250801 - Julian) Spacing */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 56px;
  --spacing-7: 72px;
  --spacing-8: 80px;
  --spacing-9: 96px;
  --spacing-10: 120px;

  /* Info: (20250801 - Julian) Radius */
  --radius-1: 5px;
  --radius-2: 10px;
  --radius-3: 15px;
  --radius-4: 20px;
  --radius-5: 500px;

  /* Info: (20250801 - Julian) Fonts Size */
  --text-h1: 56px;
  --text-h2: 48px;
  --text-h3: 40px;
  --text-h4: 32px;
  --text-h5: 24px;
  --text-h6: 20px;

  /* Info: (20250801 - Julian) Line Height */
  --line-height-h1: 61px;
  --line-height-h2: 52px;
  --line-height-h3: 44px;
  --line-height-h4: 35px;
  --line-height-h5: 26px;
  --line-height-h6: 22px;

  /* Info: (20250801 - Julian) Background Image */

  /* Info: (20250801 - Julian) Primitives - Light */

  /* Info: (20250801 - Julian) Colors */
  --color-brand-brand-purple-500: #b531fdff;
  --color-brand-brand-purple-300: #d07afeff;
  --color-brand-brand-blud-500: #00b4feff;
  --color-brand-brand-blud-300: #6cd4ffff;
  --color-state-safe: #3dd08cff;
  --color-state-warn: #ffa600ff;
  --color-state-danger: #ff5959ff;
  --color-state-link: #8016bfff;
  --color-state-link--hover: #d07afeff;
  --color-grey-grey-900: #2f2f3eff;
  --color-grey-grey-600: #5d5d7bff;
  --color-grey-grey-500: #8181a0ff;
  --color-grey-grey-300: #aaaabfff;
  --color-grey-grey-100: #dbdbebff;
  --color-grey-grey-50: #f5f5f7ff;
  --color-grey-grey-000: #ffffffff;

  /* Info: (20250801 - Julian) Design Tokens */
  --text-text-primary: var(--color-grey-grey-900);
  --text-text-secondary: var(--color-grey-grey-500);
  --text-text-note: var(--color-grey-grey-300);
  --text-text-brand: var(--color-brand-brand-purple-500);
  --text-text-invert: var(--color-grey-grey-50);
  --surface-surface-background: var(--color-grey-grey-50);
  --text-text-success: var(--color-state-safe);
  --surface-surface-primary: var(--color-grey-grey-000);
  --surface-surface-secondary: var(--color-grey-grey-100);
  --text-text-warning: var(--color-state-warn);
  --surface-surface-invert: var(--color-grey-grey-900);
  --text-text-error: var(--color-state-danger);
  --surface-surface-brand: var(--color-brand-brand-purple-500);
  --button-button-primary: var(--color-brand-brand-purple-500);
  --button-button-secondary: var(--color-grey-grey-600);
  --button-button-accent: var(--color-brand-brand-blud-500);
  --button-button-disable: var(--color-grey-grey-300);
  --button-button-primary-hover: var(--color-brand-brand-purple-300);
  --button-button-secondary-hover: var(--color-grey-grey-500);
  --button-button-accent-hover: var(--color-brand-brand-blud-300);
  --button-link: var(--color-state-link);
  --button-link-hover: var(--color-state-link-hover);
  --border-border-primary: var(--color-grey-grey-900);
  --border-border-secondary: var(--color-grey-grey-300);
  --border-border-brand: var(--color-brand-brand-purple-500);
  --spacing-spacing-none: 0px;
  --spacing-spacing-3xs: var(--spacing-1);
  --spacing-spacing-2xs: var(--spacing-2);
  --spacing-spacing-xs: var(--spacing-3);
  --spacing-spacing-s: var(--spacing-4);
  --spacing-spacing-m: var(--spacing-5);
  --spacing-spacing-l: var(--spacing-6);
  --spacing-spacing-xl: var(--spacing-7);
  --spacing-spacing-2xl: var(--spacing-8);
  --spacing-spacing-3xl: var(--spacing-9);
  --spacing-spacing-4xl: var(--spacing-10);
  --radius-radius-none: 0px;
  --radius-radius-xs: var(--radius-1);
  --radius-radius-s: var(--radius-2);
  --radius-radius-m: var(--radius-3);
  --radius-radius-l: var(--radius-4);
  --radius-radius-rounded: var(--radius-5);
  --border-border-success: var(--color-state-safe);
  --border-border-warning: var(--color-state-warn);
  --border-border-error: var(--color-state-danger);
}

.dark {
  /* Info: (20250801 - Julian) Primitives - Dark */
  --color-brand-brand-purple-500: #b531fdff;
  --color-brand-brand-purple-300: #d07afeff;
  --color-brand-brand-blud-500: #00b4feff;
  --color-brand-brand-blud-300: #00b4feff;
  --color-state-safe: #3dd08cff;
  --color-state-warn: #ffa600ff;
  --color-state-danger: #ff5959ff;
  --color-state-link: #ffffffff;
  --color-state-link--hover: #ffffffff;
  --color-grey-grey-900: #2f2f3eff;
  --color-grey-grey-600: #5d5d7bff;
  --color-grey-grey-500: #8181a0ff;
  --color-grey-grey-300: #aaaabfff;
  --color-grey-grey-100: #e8e8edff;
  --color-grey-grey-50: #f5f5f7ff;
  --color-grey-grey-000: #ffffffff;
}

.cta-bg {
  background-position: top center;
  background-image: url('/elements/cta_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Info: (20250801 - Julian) Primitives - Dark */
    --color-brand-brand-purple-500: #b531fdff;
    --color-brand-brand-purple-300: #d07afeff;
    --color-brand-brand-blud-500: #00b4feff;
    --color-brand-brand-blud-300: #00b4feff;
    --color-state-safe: #3dd08cff;
    --color-state-warn: #ffa600ff;
    --color-state-danger: #ff5959ff;
    --color-state-link: #ffffffff;
    --color-state-link--hover: #ffffffff;
    --color-grey-grey-900: #2f2f3eff;
    --color-grey-grey-600: #5d5d7bff;
    --color-grey-grey-500: #8181a0ff;
    --color-grey-grey-300: #aaaabfff;
    --color-grey-grey-100: #e8e8edff;
    --color-grey-grey-50: #f5f5f7ff;
    --color-grey-grey-000: #ffffffff;
    --color-grey-grey-60: #697077;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  display: none;
}
